<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Algo Trading - Python</title>
  <style>
    .button {
      background-color: green;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .center {
      text-align: center;
    }
  </style>
  <script>
    function loginToBroker() {
      window.location.href =  "https://www.adjustmenttraderalgo.tk/apis/broker/login/zerodha"
    }
  </script>

</head>

<body>
  <h1 style="color: green" class="center">Good Morning Adjustment Trader - Algo is Ready Today</h1>
  <div class="center">
    <button class="button" style="color: white" onClick="loginToBroker()">
      Login to Zerodha
    </button>
  </div>
</body>

</html>
